In [1]:
# import libraries needed
import IPython
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
# load mapping dictionary file
df_map = pd.read_csv('mapping_dict_q_s.csv')
print(df_map.shape)
df_map.head()

(71, 3)

,question,symp_id,symptom
0,Anxiety_panic_attacks_severity,72,Anxiety or panic attack
1,Breathlessness_severity,43,Shortness of breath
2,Chest_wall_pain_or_ribs_sore_severity,44,Chest pain
3,Confusion_difficulty_thinking_severity,28,"Confusion, difficulty thinking"
4,Constipation_severity,1,Constipation

In [33]:
# convert it into a dictionary
mapdict = {}
mapsmid = {}
for index, row in df_map.iterrows():
    mapdict[row[0]] = row[2]
    mapsmid[row[2]] = row[1]

print(len(mapdict))
print(len(mapsmid))

71
59

In [34]:
# load data file containing questions
df = pd.read_csv('dummy_top5_symptoms.csv')
df.drop(['questionnaire', 'Unnamed: 0'], axis=1, inplace=True)
print(df.shape)
df.head()

(82455, 10)

,id,sex,age,date,question,value,tick,em,order,Number of Visits
0,55,0,66,2016-09-11,Anxiety_panic_attacks_severity,1,1,0,0,7
1,55,0,66,2016-09-12,Anxiety_panic_attacks_severity,1,1,0,0,7
2,55,0,66,2016-09-13,Anxiety_panic_attacks_severity,0,1,0,0,7
3,55,0,66,2016-09-14,Anxiety_panic_attacks_severity,1,1,0,0,7
4,55,0,66,2016-09-15,Anxiety_panic_attacks_severity,2,1,0,0,7

In [35]:
# apply mapping dictionary to convert questions to symptoms + symptom IDs
df['symptom'] = df['question']
df['symptom'].replace(mapdict, inplace=True)
df['symp_id'] = df['symptom']
df['symp_id'].replace(mapsmid, inplace=True)
df.head()

,id,sex,age,date,question,value,tick,em,order,Number of Visits,symptom,symp_id
0,55,0,66,2016-09-11,Anxiety_panic_attacks_severity,1,1,0,0,7,Anxiety or panic attack,72
1,55,0,66,2016-09-12,Anxiety_panic_attacks_severity,1,1,0,0,7,Anxiety or panic attack,72
2,55,0,66,2016-09-13,Anxiety_panic_attacks_severity,0,1,0,0,7,Anxiety or panic attack,72
3,55,0,66,2016-09-14,Anxiety_panic_attacks_severity,1,1,0,0,7,Anxiety or panic attack,72
4,55,0,66,2016-09-15,Anxiety_panic_attacks_severity,2,1,0,0,7,Anxiety or panic attack,72

In [36]:
# output to file
df.to_csv('dummy_symptoms_mapped.csv')